<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amiverse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".outpass"/>
        <activity android:name=".hostelComplaint" />
        <activity android:name=".NoticeBoard" />
        <activity android:name=".AdminLogin" />
        <activity android:name=".hostelMain" />
        <activity android:name=".scoreCard" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".gallery" />
        <activity android:name=".club_activity" />
        <activity android:name=".eFormsMain" />
        <activity android:name=".Upcoming_events" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".HomeMain" />
        <activity android:name=".Quick_links" />
        <activity android:name=".Leadership_Activity" />
        <activity android:name=".Adminscoreboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AdminHome"/>
        <activity android:name=".UploadImage"/>
        <activity android:name=".GuestHome"/>

        <activity android:name=".SplashMain">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>